<p>Welcome to {{title}}</p>
<div>
    <p>Antal: {{users.length}}</p>
    <div><h2>Resultat</h2>
    <ul>
        {{#each users}}
        <li>{{name}}, {{email}}</li>
        {{/each}}
    </ul>
    </div>
</div>